@using HojaDeRuta.Models.Enums
@model HojaDeRuta.Models.DAO.Hoja

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = @ViewData["Title"];

}

@functions {

    public string GetDisabledAttribute(string fieldName)
    {
        var habilitado = ViewBag.CampoHabilitado as string;
        return fieldName == habilitado ? null : "disabled";
    }

    public string DisabledByDetail()
    {
        return @ViewBag.Detail ? "disabled" : null;
    }

    public string GetCampoHabilitadoClass()
    {
        var currentMode = (ViewMode)ViewBag.ViewMode;

        return (currentMode == ViewMode.Update)
                            ? "campoHabilitado" //clase css
                           : "";
    }
}

<div class="container-fluid content-wrapper">

    <h3 class="mb-2 mt-2 fs-4 text-center color-bdo">@ViewData["Title"]</h3>


    <div class="border border-2 rounded-3 p-3">

        <form id="hojaForm" asp-action="Create" enctype="multipart/form-data">
            <fieldset disabled=@DisabledByDetail()>
                <div class="row">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-auto">
                        <label asp-for="Cliente" class="form-label form-label-sm mb-0">Cliente</label>
                    </div>
                    <div class="col-md-4">
                        <select asp-for="Cliente" asp-items="@ViewBag.Clientes" id="Cliente"
                                disabled=@DisabledByDetail() class="form-select form-select-sm"
                                onchange="actualizarCodigoPlataforma(this.value)">
                            <option value="">Seleccione Cliente</option>
                        </select>
                        <span asp-validation-for="Cliente" class="text-danger small"></span>
                    </div>

                    <div class="col-auto">
                        <label asp-for="Sector" class="form-label form-label-sm mb-0">Sector</label>
                    </div>
                    <div class="col">
                        <select asp-for="Sector" asp-items="@ViewBag.Sectores" id="Sector" disabled=@DisabledByDetail()
                                onchange="onSectorChange(this)" class="form-select form-select-sm readonly">
                            <option value="">Seleccione Sector</option>
                        </select><span asp-validation-for="Sector" class="text-danger small"></span>
                    </div>

                    <div class="col-auto">
                        <label asp-for="Subarea" class="form-label form-label-sm mb-0">Subarea</label>
                    </div>
                    <div class="col">
                        <select asp-for="Subarea" id="subarea" disabled=@DisabledByDetail() class="form-select form-select-sm">
                            <option value="">Seleccione SubArea</option>
                        </select>
                        <span asp-validation-for="Subarea" class="text-danger small"></span>
                    </div>

                    <div class="col-auto">
                        <label asp-for="Numero" class="form-label form-label-sm mb-0">Nº</label>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="Numero" type="text" class="form-control form-control-sm" placeholder="Número" readonly>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-auto">
                        <label for="nombreGenerico" class="form-label small">Nombre generico:</label>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="NombreGenerico" asp-items="@ViewBag.NombreGenerico" id="NombreGenerico" class="form-select form-select-sm">
                            <option value="">Seleccione Tipo de Documento</option>
                        </select>
                        <span asp-validation-for="NombreGenerico" class="text-danger small"></span>
                    </div>
                    <div class="col-auto">
                        <label for="Descripcion" class="form-label small">Descripción:</label>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Descripcion" type="text" class="form-control form-control-sm" id="descripcion" placeholder="Descripcion">
                        <span asp-validation-for="Descripcion" class="text-danger small"></span>
                    </div>
                    <div class="col-auto">
                        <label for="FechaDocumento" class="form-label small">Fecha doc.:</label>
                    </div>
                    <div class="col-md-2">
                        @* <input asp-for="FechaDocumento" type="text" id="fechaDocumento" class="form-control form-control-sm" placeholder="Fecha Documento" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" /> *@
                        <input asp-for="FechaDocumento" type="date" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-auto">
                        <label asp-for="IsSindico" class="form-label form-label-sm mb-0">Requiere síndico</label>
                    </div>
                    <div class="col-md-1">
                        <select id="IsSindico" asp-for="IsSindico" class="form-select form-select-sm" onchange="toggleSindico(this.value)">
                            <option value="false"> NO</option>
                            <option value="true"> SI</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label asp-for="Sindico" class="form-label form-label-sm mb-0">Síndico</label>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="Sindico" asp-items="@ViewBag.Sindicos" id="Sindico" class="form-select form-select-sm" disabled>
                            <option value="">Seleccione Sindico</option>
                        </select>
                        <input type="hidden" asp-for="Sindico" />
                    </div>

                    <div class="col-auto">
                        <label asp-for="CodCliente" class="form-label form-label-sm mb-0">Cod. Cliente</label>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="CodCliente" type="text" class="form-control form-control-sm"
                               onchange="cargarContratos(this.value)" id="CodCliente" readonly>
                    </div>

                    <div class="col-auto">
                        <label asp-for="ContratoPlataforma" class="form-label form-label-sm mb-0">Contrato Plataforma</label>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="ContratoPlataforma" id="ContratoPlataforma" class="form-select form-select-sm">
                            <option value="">Seleccione Contrato Plataforma</option>
                        </select>
                        <span asp-validation-for="ContratoPlataforma" class="text-danger small"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="Preparo" class="form-label fs-6">Preparó:</label>
                            </div>
                            <div class="col-md-7">
                                <input asp-for="Preparo" type="text" class="form-control form-control-sm"
                                       id="Preparo" data-value="@Model.Preparo" readonly>
                                <input type="hidden" asp-for="Preparo" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="PreparoFecha" type="text" id="preparoFecha" class="form-control form-control-sm" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="Reviso" class="form-label fs-6">Revisó:</label>
                            </div>
                            <div class="col-md-7">
                                <select asp-for="Reviso" asp-items="@ViewBag.Revisores" id="reviso" class="form-select form-select-sm"
                                        data-placeholder="Seleccione Revisor"
                                        data-value="@Model.Reviso">
                                    <option value="">Seleccione Revisor</option>
                                </select>
                                <input type="hidden" asp-for="Reviso" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="RevisoFecha" type="text" id="revisoFecha" class="form-control form-control-sm" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="RevisionGerente" class="form-label fs-6">Gerente/Dir.:</label>
                            </div>
                            <div class="col-md-7">
                                <select asp-for="RevisionGerente" asp-items="@ViewBag.Revisores" id="revisoGerente" class="form-select form-select-sm"
                                        data-placeholder="Seleccione Revisor Gerente"
                                        data-value="@Model.RevisionGerente" disabled>
                                    <option value="">Seleccione Revisor Gerente</option>
                                </select>
                                <input type="hidden" asp-for="RevisionGerente" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="RevisionGerenteFecha" type="text" id="revisoGerenteFecha" class="form-control form-control-sm" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="EngagementPartner" class="form-label">Eng. Partner:</label>
                            </div>
                            <div class="col-md-7">
                                <select asp-for="EngagementPartner" asp-items="@ViewBag.Revisores" id="revisoEngagement" class="form-select form-select-sm"
                                        data-placeholder="Seleccione Engagement Partner"
                                        data-value="@Model.EngagementPartner"
                                        disabled>
                                    <option value="">Seleccione Engagement Partner</option>
                                </select>
                                <input type="hidden" asp-for="EngagementPartner" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="EngagementPartnerFecha" type="text" id="revisoEngagementFecha" class="form-control form-control-sm" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="SocioFirmante" class="form-label">Socio firmante:</label>
                            </div>
                            <div class="col-md-7">
                                <select asp-for="SocioFirmante" asp-items="@ViewBag.Socios"
                                        id="revisoSocioFirmante" class="form-select form-select-sm"
                                        onchange="onSocioFirmanteChange(this)">
                                    <option value="">Seleccione Socio Firmante</option>
                                </select>
                                <span asp-validation-for="SocioFirmante" class="text-danger small"></span>
                                <input type="hidden" asp-for="SocioFirmante" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="SocioFirmanteFecha" type="text" id="revisoSocioFirmanteFecha" class="form-control form-control-sm" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="FechaLimite" class="form-label">Fecha Limite:</label>
                            </div>
                            <div class="col-md-3">
                                <input asp-for="FechaLimite" type="text" id="fechaLimite" class="form-control form-control-sm" placeholder="Fecha limite" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                            </div>
                            <div class="col-md-2 text-end">
                                <label for="GestorFinal" class="form-label">Gestor Final:</label>
                            </div>
                            <div class="col-md-5">
                                <select asp-for="GestorFinal" asp-items="@ViewBag.Gestores"
                                        id="gestorFinal" class="form-select form-select-sm">
                                    <option value="">Seleccione Gestor Final</option>
                                </select>
                                <span asp-validation-for="GestorFinal" class="text-danger small"></span>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col" id="lugarFirmaDiv">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="lugarFirmaDoc" class="form-label">Lugar de firma:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input asp-for="LugarFirma" type="text" class="form-control form-control-sm" id="lugarFirmaDoc" placeholder="Lugar de firma del doc.">
                                        <span asp-validation-for="LugarFirma" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col invisible" id="fechaDeCierreDiv">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="FechaDeCierre" class="form-label">Fecha de Cierre:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="FechaDeCierre" type="text" id="fechaDeCierre" class="form-control form-control-sm" placeholder="Fecha de cierre" onfocus="(this.type='date')" onblur="if(this.value===''){this.type='text'}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="RutaPapeles" class="form-label">Ruta papeles:</label>
                            </div>

                            <div class="col-md-9">
                                <input asp-for="RutaPapeles" type="text" class="form-control form-control-sm" id="rutaPapeles" placeholder="Ruta de papeles de trabajo">
                                <span asp-validation-for="RutaPapeles" class="text-danger small"></span>
                            </div>


                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label for="RutaDoc" class="form-label">Ruta doc.:</label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="RutaDoc" type="text" class="form-control form-control-sm" id="rutaDoc" placeholder="Ruta de documento">
                                <span asp-validation-for="RutaDoc" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label for="Adjuntos" class="form-label">Adjuntos:</label>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Adjuntos" class="form-control" id="adjuntos" rows="3" placeholder="Archivos adjuntos"></textarea>
                                <span asp-validation-for="Adjuntos" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label for="Observaciones" class="form-label">Observaciones:</label>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Observaciones" class="form-control" id="observaciones" rows="3" placeholder="Observaciones"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="col-md-12 mt-3">
                <button type="submit" asp-action="Index" class="btn bg-bdo"> <i class="bi bi-arrow-90deg-left"></i> Volver al Inicio </button>

                @if (@String.IsNullOrEmpty(Model.Id))
                {
                    <button id="btnCrear" asp-action="Upsert" asp-route-mode="0" method="post"
                            type="submit" class="btn btn-success me-2">
                        <i class="bi bi-file-earmark-plus me-1"></i>
                        Crear hoja
                    </button>
                }
                else
                {
                    @if (!@ViewBag.Detail)
                    {
                        <button id="btnVer" type="submit" class="btn btn-info"> <i class="bi bi-file-earmark-bar-graph"></i> Ver Documentos </button>

                        <button id="btnAprobar" asp-action="Aprobar" type="submit" class="btn btn-success"> <i class="bi bi-check-lg"></i> Aprobar </button>
                        <button id="btnRechazar" asp-action="Rechazar" type="submit" class="btn btn-danger me-2"><i class="bi bi-x-lg"></i> Rechazar</button>
                        <button id="btnModificar" asp-route-mode="Update" type="submit" asp-controller="Home" class="btn btn-secondary me-2"><i class="bi bi-floppy"></i> Guardar Cambios </button>
                    }
                    else
                    {
                        @* <button id="btnEditar" asp-route-mode="Update" asp-route-id="@Model.Id"
                                type="submit" class="btn btn-secondary me-2">
                            <i class="bi bi-pencil fs-5"></i>
                            Modificar
                        </button> *@
                        <a id="btnModificar" asp-controller="Home" asp-action="Upsert"
                           asp-route-mode="Update" class="btn btn-secondary me-2" role="button">
                            <i class="bi bi-pencil fs-5"></i>
                            <span class="ms-1">Modificar</span>
                        </a>
                    }
                }
            </div>
        </form>
    </div>
</div>


@section Scripts {

    <script>

        const revisoresData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.RevisoresFull));
        var codClientePlataforma = "";
        const idHoja = document.getElementById("Id");

        document.addEventListener("DOMContentLoaded", function () {
            addClassToLabels('fs-7');
            actualizarCodigoPlataforma(@Model.Cliente);
            inicializarFormulario();
            validateModel();
            inicializarRevisores();
            inicializarNombreGenerico();
        })

        function inicializarRevisores() {
            const revisoresFull = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.RevisoresFull));
            debugger;
            const registroGuardado = esRegistroGuardado();

            const selects = [
                { id: "reviso", next: "revisoGerente", fecha: "revisoFecha" },
                { id: "revisoGerente", next: "revisoEngagement", fecha: "revisoGerenteFecha" },
                { id: "revisoEngagement", next: null, fecha: "revisoEngagementFecha" }
            ];

            const preparoInput = document.getElementById("Preparo");
            const preparoValue = preparoInput?.dataset.value || "";
            const preparoRevisor = revisoresFull.find(r => r.Empleado === preparoValue);
            const preparoCargo = preparoRevisor ? preparoRevisor.Cargo : 0;

            const valorReviso = (document.getElementById("reviso").dataset.value || "").trim();
            llenarSelect("reviso", preparoCargo, valorReviso, revisoresFull);

            const revisoSelect = document.getElementById("reviso");
            if (valorReviso) {
                asegurarOpcionExistenteEnSelect(revisoSelect, valorReviso, revisoresFull);
                revisoSelect.value = valorReviso;

               //Solo bloquear si el registro ya está guardado
               debugger;
                if (registroGuardado) {
                    debugger;
                    revisoSelect.classList.add("readonly");
                    revisoSelect.disabled = true;
                }
                else {
                    revisoSelect.classList.remove("readonly");
                    revisoSelect.disabled = false;
                }
                // revisoSelect.classList.add("readonly");
                // revisoSelect.disabled = true;
            }

            selects.forEach((sel, index) => {
                if (sel.id === "reviso") return; // ya inicializamos reviso

                const selectElem = document.getElementById(sel.id);
                const valor = (selectElem.dataset.value || "").trim();
                const anterior = index > 0 ? document.getElementById(selects[index - 1].id) : null;

                if (valor) {
                    asegurarOpcionExistenteEnSelect(selectElem, valor, revisoresFull);
                    selectElem.value = valor;

                    if (registroGuardado) {
                        selectElem.classList.add("readonly");
                        selectElem.disabled = true;
                    } else {
                        selectElem.disabled = false;
                    }
                } else {
                    if (!registroGuardado) {
                        selectElem.disabled = false;
                    } else {
                        selectElem.disabled = anterior && !anterior.value;
                    }
                }
            });

            marcarSiguientePendiente(selects);

            selects.forEach((sel, index) => {
                const current = document.getElementById(sel.id);
                const nextElem = sel.next ? document.getElementById(sel.next) : null;

                current.addEventListener("change", function () {
                    manejarCambioSelect(current, sel, index, selects, nextElem, revisoresFull);
                });
            });

            inicializarSindico();
        }

        function manejarCambioSelect(current, sel, index, selects, nextElem, revisoresFull) {
            if (!current.value) {
                current.classList.remove("readonly");
                const fechaInput = document.getElementById(sel.fecha);
                if (fechaInput) fechaInput.value = "";
                limpiarSelectsDesde(index + 1, selects);
                marcarSiguientePendiente(selects);
                return;
            }

            limpiarSelectsDesde(index + 1, selects);

            const selectedOpt = current.selectedOptions[0];
            const cargoActual = selectedOpt ? parseInt(selectedOpt.dataset.cargo || 0) : 0;

            if (cargoActual > 0 && nextElem) {
                const valorExistenteSiguiente = nextElem.dataset.value || null;
                llenarSelect(sel.next, cargoActual, valorExistenteSiguiente, revisoresFull);
            }

            setFechaActual(sel.fecha);

            const registroGuardado = esRegistroGuardado();

            //Solo bloquear si el registro ya está guardado
            debugger;
            if (registroGuardado) {
                debugger;
                current.classList.add("readonly");
                current.blur();
            }
            else {
                current.classList.remove("readonly");
            }

            // current.classList.add("readonly");
            // current.blur();

            marcarSiguientePendiente(selects);
        }

        function marcarSiguientePendiente(selects) {
            selects.forEach(s => document.getElementById(s.id).classList.remove("is-valid"));

            const pendiente = selects.find(s => {
                const el = document.getElementById(s.id);
                return !el.classList.contains("readonly") && !el.disabled && !el.value;
            });

            if (pendiente) {
                const elem = document.getElementById(pendiente.id);
                elem.classList.add("is-valid");
                try { elem.focus(); } catch (e) {}
            }
        }

        function asegurarOpcionExistenteEnSelect(selectElem, valorExistente, revisoresFull) {
            if (!valorExistente) return;
            if ([...selectElem.options].some(o => o.value === valorExistente)) return;

            const revisor = revisoresFull.find(r => r.Empleado === valorExistente);
            if (!revisor) return;

            const opt = document.createElement("option");
            opt.value = revisor.Empleado;
            opt.textContent = `${revisor.Detalle} (${revisor.Area || ''})`;
            opt.dataset.cargo = revisor.Cargo;
            selectElem.appendChild(opt);
        }

        function llenarSelect(selectId, cargoBase, valorExistente, revisoresFull) {
            const selectElem = document.getElementById(selectId);
            const filtrados = revisoresFull.filter(r => r.Cargo > cargoBase);

            const placeholder = selectElem.getAttribute('data-placeholder') || '-- Seleccione --';
            selectElem.innerHTML = `<option value="">${placeholder}</option>`;

            if (valorExistente) {
                const existe = revisoresFull.find(r => r.Empleado === valorExistente);
                if (existe && !filtrados.some(f => f.Empleado === valorExistente)) {
                    const optExist = document.createElement("option");
                    optExist.value = existe.Empleado;
                    optExist.textContent = `${existe.Detalle} (${existe.Area || ''})`;
                    optExist.dataset.cargo = existe.Cargo;
                    selectElem.appendChild(optExist);
                }
            }

            filtrados.forEach(r => {
                if (!valorExistente || r.Empleado !== valorExistente) {
                    const opt = document.createElement("option");
                    opt.value = r.Empleado;
                    opt.textContent = `${r.Detalle} (${r.Area || ''})`;
                    opt.dataset.cargo = r.Cargo;
                    selectElem.appendChild(opt);
                }
            });

            selectElem.disabled = false;
        }

        function limpiarSelectsDesde(startIndex, selects) {
            for (let i = startIndex; i < selects.length; i++) {
                const s = document.getElementById(selects[i].id);
                const placeholder = s.getAttribute('data-placeholder') || '-- Seleccione --';
                s.innerHTML = `<option value="">${placeholder}</option>`;
                s.value = "";
                s.disabled = true;
                s.classList.remove("select-pendiente", "readonly");

                const fechaInput = document.getElementById(selects[i].fecha);
                if (fechaInput) fechaInput.value = "";
            }
        }

        function esRegistroGuardado() {
            if (!idHoja) return false;

            const idValue = idHoja.value?.trim();
            return idValue !== "" && idValue !== null && idValue !== undefined;
            //return !!(idHoja && idHoja.value && idHoja.value.trim() !== "");
        }

        function onSocioFirmanteChange(selectElement) {
            const fechaInput = document.getElementById("revisoSocioFirmanteFecha");
            if (selectElement.value) {
                setFechaActual("revisoSocioFirmanteFecha");
            } else {
                fechaInput.value = "";
            }
        }

        function setFechaActual(inputId) {
            const input = document.getElementById(inputId);
            if (!input) return;
            const hoy = new Date();
            const dia = String(hoy.getDate()).padStart(2, '0');
            const mes = String(hoy.getMonth() + 1).padStart(2, '0');
            const anio = hoy.getFullYear();
            input.value = `${dia}/${mes}/${anio}`;
        }

        function validateModel() {

            const form = document.querySelector("form");
            if (!form) return;

            form.querySelectorAll("input, select, textarea").forEach(input => {
                input.addEventListener("change", function () {

                    // Evitar validar los campos del flujo
                    // const flowFields = ["reviso", "revisoGerente", "revisoEngagement"];
                    // if (flowFields.includes(this.id)) return;

                    // // No validar campos deshabilitados
                    // if (this.disabled) return;

                    const name = this.getAttribute("name");
                    const validationSpan = form.querySelector(`span[data-valmsg-for='${name}']`);

                    if (this.value && this.value.trim() !== "") {
                        this.classList.remove("is-invalid");
                        this.classList.add("is-valid");
                        if (validationSpan) validationSpan.textContent = "";

                        setTimeout(() => {
                            this.classList.remove("is-valid");
                        }, 2000);

                    } else {
                        this.classList.remove("is-valid");
                        this.classList.add("is-invalid");

                        setTimeout(() => {
                            this.classList.remove("is-invalid");
                        }, 2000);
                    }
                });
            });
        }



        var subareas = JSON.parse('@Html.Raw(ViewBag.Subareas)');
        var clientesData = JSON.parse('@Html.Raw(ViewBag.ClientesJson)');

        //AVISAR SI HAY CAMBIOS PARA GUARDAR AL ABANDONAR LA HOJA
        // (function () {
        //     let form = document.getElementById("hojaForm");
        //     let isDirty = false;
        //     debugger;

        //     // Detectar cambios en cualquier campo del formulario
        //     form.querySelectorAll("input, select, textarea").forEach(campo => {
        //         campo.addEventListener("change", () => {
        //             isDirty = true;
        //         });
        //         campo.addEventListener("input", () => {
        //             isDirty = true;
        //         });
        //     });

        //     // Desactivar advertencia al enviar el formulario
        //     form.addEventListener("submit", () => {
        //         isDirty = false;
        //     });

        //     // Detectar intento de cerrar o refrescar página
        //     window.addEventListener("beforeunload", function (e) {
        //         debugger;
        //         if (isDirty) {
        //             e.preventDefault();
        //             e.returnValue = "Hay cambios sin guardar. ¿Seguro que quieres salir?";
        //         }
        //     });
        // })();

        function onSectorChange(select) {
                    debugger;
                var sector = select.value;
                cargarSubareas(sector);
        }

        function cargarSubareas(sector, selectedSubareaName = null) {
            debugger;
            var subareaSelect = document.getElementById("subarea");

            subareaSelect.innerHTML = '<option value="">Seleccione SubArea</option>';

            if (sector) {
                var filtradas = subareas.filter(s => s.Sector == sector);

                filtradas.forEach(function (s) {
                    var option = document.createElement("option");
                    option.value = s.Nombre;
                    option.text = s.Nombre;

                    // if (selectedSubareaId && selectedSubareaId == s.Id) {
                    //     option.selected = true;
                    // }
                    if (selectedSubareaName && selectedSubareaName === s.Nombre) {
                        option.selected = true;
                    }
                    subareaSelect.appendChild(option);
                });
            }
        }

        function inicializarSindico() {
            const isSindicoSelect = document.getElementById("IsSindico");
            const sindicoSelect = document.getElementById("Sindico");

            if (!isSindicoSelect || !sindicoSelect) return;

            const valorSindico = (sindicoSelect.dataset.value || sindicoSelect.value || "").trim();

            if (valorSindico) {
                isSindicoSelect.disabled = true;
                sindicoSelect.disabled = true;
                return;
            }

            isSindicoSelect.addEventListener("change", function () {
                toggleSindico(this.value);
            });

            toggleSindico(isSindicoSelect.value);
        }

        function toggleSindico(selectElement) {
            debugger;
            var isSindicoValue = selectElement;
            var sindicoSelect = document.getElementById('Sindico');

            if (isSindicoValue === 'true') {
                sindicoSelect.disabled = null;
            }
            else {
                sindicoSelect.disabled = true;
                sindicoSelect.value = "";
            }
        }

        function addClassToLabels(className) {
            var labels = document.querySelectorAll('label');

            if (labels.length === 0) {
                return;
            }

            labels.forEach(function(label) {
                label.classList.add(className);
            });
        }

        function inicializarNombreGenerico() {
            debugger;
            const nombreGenericoSelect = document.getElementById("NombreGenerico");
            const contratosSelect = document.getElementById("ContratoPlataforma");
            const genericosData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.NombreGenericoFull));

            nombreGenericoSelect.addEventListener("change", function () {
                debugger;
                const fechaCierreDiv = document.getElementById("fechaDeCierreDiv");
                fechaCierreDiv.classList.add("invisible"); 

                const fechaCierre = document.getElementById("fechaDeCierre");
                fechaCierre.value= "";                               

                const valorSeleccionado = this.value;
                const generico = genericosData.find(x => x.NombreGenerico === valorSeleccionado);

                //Limpia la opcion sin contrato
                const sinContratoExistente = Array.from(contratosSelect.options)
                    .find(opt => opt.value === "Sin Contrato");

                if (sinContratoExistente) {
                    contratosSelect.removeChild(sinContratoExistente);
                }

                //Si es propuesta, genera el option sin contrato
                if (generico && generico.Categoria === "Propuesta") {
                    const sinContratoOption = document.createElement("option");
                    sinContratoOption.value = "Sin Contrato";
                    sinContratoOption.text = "Sin Contrato";
                    contratosSelect.appendChild(sinContratoOption);
                    contratosSelect.value = "Sin Contrato";
                } else if (generico && generico.Categoria === "Auditoria") {
                    alert("Nueva pantalla auditoria. Debe agregarse fecha de cierre");
                    fechaCierreDiv.classList.remove("invisible");
                    contratosSelect.selectedIndex = 0;
                } else {
                    contratosSelect.selectedIndex = 0;                    
                }
            });
        }

        function actualizarCodigoPlataforma(clienteId) {
            var inputCodCliente = document.getElementById('CodCliente');

            if (!clienteId) {
                inputCodCliente.value = '';
                return;
            }

            var clienteSeleccionado = clientesData.find(c => c.Id == clienteId);

            if (clienteSeleccionado) {
                inputCodCliente.value = clienteSeleccionado.CodigoPlataforma;
                inputCodCliente.dispatchEvent(new Event('change'));
                codClientePlataforma = clienteSeleccionado.CodigoPlataforma;
            } else {
                inputCodCliente.value = '';
            }

            //Limpiar nombre generico al cambiar cliente
            // const select = document.getElementById("NombreGenerico");
            // select.innerHTML = '<option value="">Seleccione Tipo de Documento</option>';
            document.getElementById("NombreGenerico").selectedIndex = 0;

        }

        function cargarContratos(codCliente, selectedContract = null) {
            debugger;
            var selectContratos = document.getElementById('ContratoPlataforma');

            selectContratos.innerHTML = '<option value="">Cargando contratos...</option>';

            if (!codCliente) {
                selectContratos.innerHTML = '<option value="">Seleccione Contrato Plataforma</option>';
                return;
            }

            fetch('/Home/GetContratosByCodigo?codigoPlataforma=' + codCliente)
                .then(response => response.json())
                .then(data => {
                    selectContratos.innerHTML = '<option value="">Seleccione Contrato Plataforma</option>'; // Restablece

                    data.forEach(function(contrato) {
                        debugger;
                        var option = document.createElement('option');
                        option.value = contrato;
                        option.text = contrato;

                        if (selectedContract && selectedContract === contrato) {
                            option.selected = true;
                        }

                        selectContratos.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error al cargar contratos:', error);
                    selectContratos.innerHTML = '<option value="">Error al cargar los contratos</option>';
                });
        }

        function inicializarFormulario() {
            debugger;
            //retener valor de subarea
            var areaSelect = document.getElementById('Sector');

            if (areaSelect && areaSelect.value) {
                var currentArea = areaSelect.value;

                var currentSubarea = '@Model.Subarea';

                cargarSubareas(currentArea, currentSubarea);
            }

            //retener valor de contratos
            //var codCliente = '@Model.CodCliente
            var codCliente = '@Model.CodCliente' || codClientePlataforma;
            var selectedContract = '@Model.ContratoPlataforma';

            if (codCliente) {
                cargarContratos(codCliente, selectedContract);
            }
        }

    </script>
}
